<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fat.bigfarm">

    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 微信支付 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--友盟-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />


    <application
        android:name=".app.TMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:label,android:name">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="transparentmanor" />
            </intent-filter>
        </activity>

        <!-- 引导页 -->
        <activity
            android:name=".ui.activity.Navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name=".ui.activity.HomeMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HomeSmallMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DetailsActivity"
            android:configChanges="orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShoppingDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShoppingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_TextInput" />
        <activity
            android:name=".ui.activity.StatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_TextInput" />
        <activity
            android:name=".ui.activity.CodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_TextInput" />
        <activity
            android:name=".ui.activity.PassWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_TextInput" />
        <activity
            android:name=".ui.activity.OtherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login_TextInput" />
        <activity
            android:name=".ui.activity.DataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddressManageActivity"
            android:screenOrientation="portrait" />
        <!-- 我的订单 -->
        <activity
            android:name=".ui.activity.MyOrderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" />
        <!-- 我的仓库 -->
        <activity
            android:name=".ui.activity.MyWarehouseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name=".ui.activity.AlterNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Alter_TextInput" />
        <activity
            android:name=".ui.activity.ActivitiesDetailActivity"
            android:screenOrientation="portrait" />

        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mike" />

        <!-- 确认订单 -->
        <activity
            android:name=".ui.activity.SuerOrderActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx791e5c84162d83bb" />
            </intent-filter>
        </activity>

        <receiver android:name="net.sourceforge.simcpux.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RetentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SellExampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.activity.PaySuccessfulActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EarningsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProblemActivity"
            android:screenOrientation="portrait"></activity>

        <!-- wechat callback-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!--新浪-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"-->
            <!--android:launchMode="singleTask"-->
            <!--android:name="com.sina.weibo.sdk.share.WbShareTransActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!-- tencent -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105939661"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="593501b799f0c7410f000e1d" >
        </meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

    </application>

</manifest>